section{
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}
h4{
    color: blue;
}
section:nth-child(2){
    border-bottom:5px solid red ;
}
section:nth-child(3) h3, section:nth-child(3) ul{
    color: red;
}
section:nth-child(4) li:nth-child(2){
    font-size: 25px;
}
section:nth-child(5) span:nth-child(n+2){
    color: blue;
}
img{
    border: 5px solid black;
    border-radius: 50%;
}
section:nth-child(7) p:hover{
    color: green;
}